.users_admins {
    margin: 50px auto;
}
h1 {
    font-size: 24px;
    text-align: center;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    width: 90%;
    margin: 2.5rem auto;
}  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
td {
    font-size: 12px;
    color: #000;
}
tr:not(tr:first-child) {
    background: linear-gradient(to right,hsl(192, 100%, 67%) , hsl(280, 87%, 65%));
}